.educations-header {
  font-size: 40px;
  font-family: "Excalifont";
  text-align: center;
}

.educations-body-div {
  font-family: "Patrick";
  line-height: 1.1;
}

@media (max-width: 1380px) {
  .educations-header {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .educations-header {
    font-size: 30px;
  }
}
